<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/nutzer/anzeigen" method="post">
        <input type="text" name="vorname" size="10" maxlength="30">
        <input type="text" name="nachname">

        <input type="submit" value="an den Server absenden">
    </form>
</body>
</html>