<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rezept erstellen</title>
</head>
<body>
    
    <h1>Neues Rezept erstellen</h1>
    <form action="/recipe/new" method="post">
      <input type="text" name="name" placeholder="name"> 
        <input type="text" name="recipe" placeholder="zutaten"> 
        <button type="submit">Rezept speichern</button>
    </form>

</body>
</html>
 
</body>
</html>