<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Abstimmung</h1>
    Wie findest Du Pizza?
    <form action="/vote" method="post">
        <input type="radio" name="vote" value="1">Gut<br>
        <input type="radio" name="vote" value="2">Geht so<br>
        <input type="radio" name="vote" value="3">Mir wird schlecht<br>
        <button type="submit">abstimmen</button>
    </form>
</body>
</html>