<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Fantasischer Blog</h1>
    @each(post in posts)
        <p>
            <h2>{{ post.title}}</h2>
            <p>{{ post.teaser}}</p>
            <p>{{ post.text}}</p>
            <p>{{ post.author }} {{post.date}}</p>
        </p>
    @end
</body>
</html>